@charset "UTF-8";

/* 回答はここに書いてね */
.contants{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
}

.c-box{
  width: 100px;
  height: 100px;
  position: absolute;
}

.seventh{
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 7;
}

.third{
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 3;
}

.fifth{
  background-color: #9fd6d2;
  bottom: 40px;
  right: 200px;
  z-index: 5;
}

.first{
  background-color: #ffefd3;
  top: 40px;
  right: 200px;
  z-index: 1;
}

.sixth{
  background-color: #fffee4;
  bottom: 120px;
  left: 120px;
  z-index: 6;
}

.fourth{
  background-color: #8b7a5e;
  top: 280px;
  right: 120px;
  z-index: 4;
}

.eighth{
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.second{
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.ninth{
  width: 100px;
  height: 100px;
  background-color: #2b69a3;
  position: fixed;
  left: 10px;
  top: 10px;
}

.eighth:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}
/* 回答はここに書いてね */
